<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBGI - <%=id%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/@rdkit/rdkit/dist/RDKit_minimal.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        window
          .initRDKitModule()
          .then(function (RDKit) {
            console.log("RDKit version: " + RDKit.version());
            window.RDKit = RDKit;
            /**
             * The RDKit module is now loaded.
             * You can use it anywhere.
             */
          })
          .catch(() => {
            // handle loading errors here...
          });
    </script>
    <style>
        #molecule {
          display: inline-block;
          background-color: white;
          border: 1px solid #ccc;
          padding: 10px;
          margin: 10px;
        }
        .navbar {background-color: green;}
        tr {border-bottom: 2px solid #ddd;}
        table {width: 100%;}
        .organisms-grid {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 10px;
        }
        .organism-item {
            list-style-type: none;
            width: 25em; /* the element needs a fixed width (in px, em, %, etc) */
            overflow: hidden; /* make sure it hides the content that overflows */
            white-space: nowrap; /* don't break the line */
            text-overflow: ellipsis; /* give the beautiful '...' effect */
        }
        ul {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }
    </style>
</head>
<script>
  initRDKitModule().then(function (instance) {
    RDKitModule = instance;
    console.log("version: " + RDKitModule.version());
  });
</script>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="container">
    <h2><%= id %> (<a href="<%= wikidata %>"><%= wikidata_id %></a>)</h2>
    <br>
    <h4>Chemical structures</h4>
    <h6>molecular formula: <%= formula %></h6>
    <div class="row">
      <div id="test">
        <script>

        function callback() {
          var smile = '<%=smile%>'
          var mol = RDKit.get_mol(smile);
          var dest = document.getElementById("test");
          var svg = mol.get_svg();
          dest.innerHTML = "<div id='test'>hey!</div>";
        }

        document.addEventListener("DOMContentLoaded", function() {
            callback();
        });
        </script>
      </div>
    </div>
    <hr>
    <h4>Phylogeny</h4>
    <table>
      <tr>
          <th>Kingdom</th>
          <td><%=kingdom%></td>
      </tr>
      <tr>
          <th>SuperClass</th>
          <td><%=superclass%></td>
      </tr>
      <tr>
          <th>Class</th>
          <td><%=structure_class%></td>
      </tr>
      <tr>
          <th>Direct parent</th>
          <td><%=directparent%></td>
      </tr>
    </table> 
    <hr>
    <h4>Present in:</h4>
    <div class="organisms-grid">
      <ul>
        <% organisms.forEach((organism, index) => { %>
          <li class="organism-item">
            <a href="/organism/<%= encodeURIComponent(organism)%>">
              <%- organism %>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
