<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBGI - <%=id%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="js/app.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./node_modules/@rdkit/rdkit/Code/MinimalLib/dist/RDKit_minimal.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {

      var mol = RDKitModule.get_mol(smile);
      var dest = document.getElementById("smile_3D");
      var svg = mol.get_svg();
      dest.innerHTML = "<div id='drawing'>" + svg + "</div>";

    }
  
    </script>      
    <style>
        #molecule {
          display: inline-block;
          background-color: white;
          border: 1px solid #ccc;
          padding: 10px;
          margin: 10px;
        }
        .navbar {background-color: green;}
        tr {border-bottom: 2px solid #ddd;}
        table {width: 100%;}
        .organisms-grid {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 10px;
        }
        .organism-item {
            list-style-type: none;
            width: 25em; /* the element needs a fixed width (in px, em, %, etc) */
            overflow: hidden; /* make sure it hides the content that overflows */
            white-space: nowrap; /* don't break the line */
            text-overflow: ellipsis; /* give the beautiful '...' effect */
        }
        ul {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }
    </style>
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="container">
    <h2><%= id %> (<a href="<%= wikidata %>"><%= wikidata_id %></a>)</h2>
    <br>
    <h4>Chemical structures</h4>
    <h6>molecular formula: <%= formula %></h6>
    <div class="row">
      <div id="smile_3D" class="col-md-6">
        <figcaption style="text-align: center;">3D</figcaption>
      </div>
    </div>
    <hr>
    <h4>Phylogeny</h4>
    <table>
      <tr>
          <th>Kingdom</th>
          <td><%=kingdom%></td>
      </tr>
      <tr>
          <th>SuperClass</th>
          <td><%=superclass%></td>
      </tr>
      <tr>
          <th>Class</th>
          <td><%=structure_class%></td>
      </tr>
      <tr>
          <th>Direct parent</th>
          <td><%=directparent%></td>
      </tr>
    </table> 
    <hr>
    <h4>Present in:</h4>
    <div class="organisms-grid">
      <ul>
        <% organisms.forEach((organism, index) => { %>
          <li class="organism-item">
            <a href="/organism/<%= encodeURIComponent(organism)%>">
              <%- organism %>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
