<DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBGI - Browse Dataset</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="shortcut icon" href="../assets/logo.png">

  <!-- External JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../app.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/sunburst.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <!-- JavaScript code to handle dropdown change and tab initialization -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Dropdown change event
      var dropDown = document.getElementById("search_type");
      dropDown.onchange = function () {
        var selectedValue = this.value;
        if (selectedValue === "by_text") {
          window.location.href = "/explore/text";
        } else if (selectedValue === "by_structure") {
          window.location.href = "/explore/structure";
        } else if (selectedValue === "SPARQL") {
          window.location.href = "/explore/SPARQL"
        }
      }

      // Trigger the click event on the first tab to initialize it
      document.querySelector('.tablinks').click();
    });
  </script>

  <!-- JSME (Java Structure Editor) -->
  <script type="text/javascript" language="javascript" src="/JSME_2022-09-26/jsme/jsme.nocache.js"></script>
  <script>
    // Function to update SMILES value
    function updateSMILES(smile) {
      if (smile) {
        document.getElementById("smiles").value = smile;
        return true;
      } else {
        alert('Please draw a molecule');
        return false;  // This will prevent form submission
      }
    }
  </script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="content">
      <%- include('./partials/exploreDropdown.ejs') %>

      <hr>

      <!-- Form for structure exploration -->
      <form action="/explore/structure" method="POST">
        <div class="jsme" name="jme" code="JME.class" width=420 height=330>
          You have to enable JavaScript in your browser to use JSME !
        </div>
        <br>
        <!-- Tabs for different search types -->
        <div class="tab">
          <button class="tablinks" onclick="openTab(event,'exact_match')">Exact match</button>
          <button class="tablinks" onclick="openTab(event,'sub_search')">Substructure search</button>
          <button class="tablinks" onclick="openTab(event,'sim_search')">Similarity search</button>
        </div>
        <input type="hidden" id="activeTab" name="activeTab" value="default_tab">
        
        <!-- Exact Match tab content -->
        <div id="exact_match" class="tabcontent">
          <br>
          <h3>Exact match type: using InChI (recommended) or SMILES</h3>
          <label class="container">
            <input type="radio" checked="checked" name="radio" value="structure_inchi">
            Exact match (by InChI)
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" name="radio" value="structure_smiles">
            Exact match (by canonical SMILES)
            <span class="checkmark"></span>
          </label>
        </div>
        
        <!-- Substructure Search tab content -->
        <div id="sub_search" class="tabcontent">
          <br>
          <h3>Substructure matching algorithm</h3>
          <label class="container">
            <input type="radio" checked="checked" name="radio">
            Default substructure search (Ullmann algorithm)
            <span class="checkmark"></span>
          </label>
        </div>
        
        <!-- Similarity Search tab content -->
        <div id="sim_search" class="tabcontent">
          <br>
          <h3>Select Tanimoto similarity threshold (in %)</h3>
          <div class="slider">
            <br>
            <input type="range" min="0" max="100" value="50" oninput="rangeValue.innerText = this.value" name="tanimoto">
            <p id="rangeValue">50</p>
          </div>
        </div>
        
        <hr>
        <select name="data_source" id="data_source" required>
          <option disabled selected value> -- Data Source -- </option>
          <option value="lotus">LOTUS</option>
          <option value="dbgi">DBGI</option>
        </select>
        <hr>
        <!-- Optional taxonomic group input -->
        (Optional) Structure search only in a taxonomic group:
        <input type="text" id="taxo" name="taxo">
        <hr>
        <div>
          <!-- Maximal number of returned hits selection -->
          Select maximal number of returned hits:
          <select name="maxNum" id="maxNum">
            <option value="10">10</option>
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="1000">1000</option>
            <option value="10000">10000</option>
          </select>
        </div>
        <hr>
        <!-- Display options -->
        <div id="display_option">
          <h6>Display options</h6>
          <label class="container">
            <input type="radio" id="display" name="display" value="table" required>
            Table
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" id="display" name="display" value="graph">
            Graphical
            <span class="checkmark"></span>
          </label>
        </div>
        <hr>
        <!-- Hidden input for SMILES value -->
        <input id="smiles" type="hidden" name="smiles" value="">
        <!-- Submit button with molecule structure validation -->
        <button class="submit" type="submit" onclick="return updateSMILES(document.jme.smiles());"><i class="fa fa-search"></i> Search</button>

      </form>
      <br>

      <script>
        // Function to handle tab switching
        function openTab(evt, tab) {
          evt.preventDefault();
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(tab).style.display = "block";
          evt.currentTarget.className += " active";

          document.getElementById('activeTab').value = tab;
        }
      </script>


      <br>
      <!-- Loader display while form is being submitted -->
      <div id="loader" style="display: none;">
        Loading...
      </div>
      <script>
        $(document).ready(function() {
            $('form').submit(function() {
                $("#loader").show();
            });
    
            $(document).ajaxComplete(function() {
                $("#loader").hide();
            });
        });
      </script>

          <% if(display === 'table') { %>
            <% if(source === 'dbgi') { %>
              <%- include('./partials/SPARQLTable.ejs') %>
            <% } else if(source === 'lotus') { %>
              <%- include('./partials/exploreTable.ejs') %>
            <% } %>
          <% } else if(display === 'graph') { %>
            <% if(source === 'dbgi') { %>
              <h3 class="center">The Graphical View isn't available for the DBGI data for now</h3>
            <% } else if(source === 'lotus') { %>
              <%- include('./partials/exploreGraph.ejs') %>
            <% } %>
          <% } %>

    </div>    
</body>
</html>
