<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBGI - Browse Dataset</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="shortcut icon" href="../assets/logo.png">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../app.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var dropDown = document.getElementById("search_type");
      dropDown.onchange = function () {
        var selectedValue = this.value;
        if (selectedValue === "by_text") {
          window.location.href = "/explore/text";
        } else if (selectedValue === "by_structure") {
          window.location.href = "/explore/structure";
        } else if (selectedValue === "SPARQL") {
          window.location.href = "/explore/SPARQL"
      }
    }
  });
  </script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">

    <%- include('./partials/exploreDropdown.ejs') %>

    <div id="by_text" > 
      <hr>
      <form action="/explore/text" method="POST">
        <select name="column">
          <% columns.forEach(column => { %>
            <option value="<%= column.column_name %>"><%= column.column_name %></option>
          <% }) %>
        </select>
        <input type="text" name="search" placeholder="Search">
        <hr>
        <div>
          Select maximal number of returned hits:
          <select name="maxNum" id="maxNum">
            <option value="10">10</option>
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="1000">1000</option>
            <option value="10000">10000</option>
          </select>
        </div>
        <hr>
        <div id="display_option">
          <h6>Display options</h6>
          <label class="container">
            <input type="radio" id="display" name="display" value="table">
            Table
            <span class="checkmark"></span>
          </label>
          <label class="container">
            <input type="radio" id="display" name="display" value="graph">
            Graphical
            <span class="checkmark"></span>
          </label>
          <br>
          <button type="submit">Submit</button>
        </div>
      </form>
      <br>
      <div id="loader" style="display: none;">
        Loading...
      </div>
      <script>
        $(document).ready(function() {
            $('form').submit(function() {
                $("#loader").show();
            });
    
            $(document).ajaxComplete(function() {
                $("#loader").hide();
            });
        });
      </script>
      <% if(display === 'table') { %>
        <%- include('./partials/exploreTable.ejs') %>
      <% } else if(display === 'graph') { %>
        <%- include('./partials/exploreGraph.ejs') %>
      <% } %>
    </div>
</body>
</html>