<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBGI element</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/app.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
      const alphabetContainer = document.querySelector('.alphabet');
      const organismsContainers = document.querySelectorAll('.organism-container .organisms');
      
      function showOrganismList(letter) {
        // Hide all organism containers
        organismsContainers.forEach(organism => {
          organism.style.display = 'none';
        });
      
        // Show the selected organism container
        const selectedMoleculeContainer = document.querySelector(`#organisms-${letter}`);
        if (selectedMoleculeContainer) {
          selectedMoleculeContainer.style.display = 'block';
        }
      }
    
      alphabetContainer.addEventListener('click', function (event) {
        if (event.target.classList.contains('letter')) {
          event.preventDefault();
          const letter = event.target.textContent;
          showOrganismList(letter);
        }
      });
      });

  </script>
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <h1>Organisms list</h1>

  <div class="alphabet">
    <% let i = 65; %>
    <% for (; i <= 90; i++) { %>
      <span class="letter"><%= String.fromCharCode(i) %></span>
    <% } %>
  </div>
  <div class="organism-container">
    <% let isFirstLetter = true; %>
    <% for (const letter in groupedOrganisms) { %>
      <div id="organisms-<%= letter %>" class="organisms">
        <h2><%= letter %></h2>
            <div class="organism-grid">
              <ul class="organism-list">
                <% groupedOrganisms[letter].forEach((organism, index) => { %>
                <li class="organism-item">
                  <a href="/organism/<%= encodeURIComponent(organism) %>">
                    <%- organism %>
                  </a>
                </li>
                 <% }) %> 
              </ul>
            </div>
      </div>
      <% isFirstLetter = false; %>
    <% } %>
  </div>
</body>

</html>