<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBGI - <%= id%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="js/app.js" defer></script>     
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {background-color: green;}
        tr {border-bottom: 2px solid #ddd;}
        table {width: 100%;}
        .molecules-grid {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: 10px;
        }
        .molecule-item {
            list-style-type: none;
            width: 25em; /* the element needs a fixed width (in px, em, %, etc) */
            overflow: hidden; /* make sure it hides the content that overflows */
            white-space: nowrap; /* don't break the line */
            text-overflow: ellipsis; /* give the beautiful '...' effect */
        }
        ul {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    </style>
</head>
<body>

    <%- include('./partials/nav.ejs') %>
  
    <div class="container">
        <h2><%= id %> (<a href="<%= wikidata %>"><%= wikidata_id %></a>)</h2>
        <br>
        <hr>
        <h4>Taxonomy</h4>
            <table>
                <tr>
                    <th>Domain</th>
                    <td><%=domain%></td>
                </tr>
                <tr>
                    <th>Kingdom</th>
                    <td><%=kingdom%></td>
                </tr>
                <tr>
                    <th>Phylum</th>
                    <td><%=phylum%></td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td><%=organism_class%></td>
                </tr>
                <tr>
                    <th>Order</th>
                    <td><%=order%></td>
                </tr>
                <tr>
                    <th>Family</th>
                    <td><%=family%></td>
                </tr>
                <tr>
                    <th>Tribe</th>
                    <td><%=tribe%></td>
                </tr>
                <tr>
                    <th>Genus</th>
                    <td><%=genus%></td>
                </tr>
                <tr>
                    <th>Species</th>
                    <td><%=species%></td>
                </tr>
                <tr>
                    <th>Varietas</th>
                    <td><%=varietas%></td>
                </tr>
              </table> 
        <hr>
        <h4>Molecules:</h4>
        <div class="molecules-grid">
            <ul>
              <% molecules.forEach((molecule, index) => { %>
                <li class="molecule-item">
                  <a href="/element/<%= encodeURIComponent(molecule)%>">
                    <%- molecule %>
                  </a>
                </li>
              <% }); %>
            </ul>
          </div>                 
    </div>
</body>
</html>
